.thumbnail {
    width: 300px;
    display: block;
    /* 
    height: 300px;
    object-fit: cover;
    object-position: left;
    border-radius: 150px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
} */
}

.search-bar {
    font-size: 20px;
    display: block;
    /* margin-left: 12px; */
}

.google-like-search-bar-object {
    margin-top: 100px;
}

.google-like-search-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    width: 400px;
    border: 1px;
    border-style: solid;
    border-color: rgb(184, 182, 182);
    border-radius: 20px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.15);
}

.video-container {
    width: 300px;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: top;
}

.video-title {
    margin-top: 0;
}

.video-author,
.video-stats {
    display: block;
}

.channel-min {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
.channel-pics {
    width: 100%;
}
.video-details {
    display: inline-block;
    width: 200px;
}
