p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.thumbnail {
    width: 300px;
    display: block;
    /* 
    height: 300px;
    object-fit: cover;
    object-position: left;
    border-radius: 150px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
} */
}

.search-bar {
    font-size: 20px;
    display: block;
    /* margin-left: 12px; */
}

.google-like-search-bar-object {
    margin-top: 100px;
}

.google-like-search-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    width: 400px;
    border: 1px;
    border-style: solid;
    border-color: rgb(184, 182, 182);
    border-radius: 20px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.15);
}

/* Video container styles
 */
.video-preview {
    width: 300px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}

.channel-picture {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
.profile-picture {
    width: 40px;
    border-radius: 50px;
}
.video-info {
    display: inline-block;
    width: 200px;
}

.thumbnail-row {
    margin-bottom: 12px;
}

.video-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
    /* margin-bottom: 20px; */
}

.video-author {
    margin-bottom: 4px;
}
